body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

/* HERO */
.hero {
  position: relative;
  min-height: 100vh;
  background-image: url("/static/images/hospital.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 35, 70, 0.75);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  max-width: 900px;
  margin: auto;
}

.hero h1 {
  font-size: 3.5rem;
}

.tagline {
  font-size: 1.4rem;
  margin: 15px 0;
}

.hero-text {
  font-size: 1.1rem;
  margin-bottom: 35px;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
  text-align: center;
}

.section.light {
  background: #f7f9fc;
  color: #0f3c68;
}

.section.light p{
  color: #0f3c68;
}



.section.dark {
  background: #0f3c68;
  color: white;
}

.section h2 {
  font-size: 2.4rem;
  margin-bottom: 25px;
}

.section p {
  max-width: 900px;
  margin: auto;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 40px;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card:hover{
  transform: scale(1.05);
}

/* REASONS */
.reasons {
  list-style: none;
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.reasons li {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 30px;
}

.stats h3 {
  font-size: 2.5rem;
  color: #007bff;
}

/* CTA */
.cta {
  background: linear-gradient(135deg, #035ebe, #072f67);
  color: white;
  text-align: center;
  padding: 90px 20px;
}

.btn-primary {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 40px;
  background: white;
  color: #007bff;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}


.section-subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 3%;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.review-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
  margin-top: 3cap;
}

.review-card:hover {
  transform: translateY(-6px);
}

.stars {
  font-size: 1.4rem;
  color: #ffc107;
  margin-bottom: 15px;
}

.review-text {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
}

.review-card h4 {
  color: #007bff;
  font-weight: 600;
}
