* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

/* section background */
.appointment-section {
    position: relative;
    min-height: 100vh;
    background-image: url("/static/images/patient.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dark overlay */
.overlay {
    position: absolute;
    inset: 0;
}

/* form container */
.appointment-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 700px;
    background: rgba(15, 13, 13, 0.473);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 16px;
    animation: slideUp 1s ease;
}

.appointment-container h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-size: 32px;
}

/* form layout */
.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
}

.form-row input,
.form-row select {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

/* submit button */
.btn-submit {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-submit:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 114, 255, 0.4);
}

/* animation */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* responsive */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}
