.main-footer {
  background: #0b5ed7;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-col h3 {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.footer-col a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
}

.footer-col a:hover {
  text-decoration: underline;
}

.copy {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.location a{
  color: white;
}

.footer-locatione {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.footer-locatione:hover {
  text-decoration: underline;
}
