
/* Header Main */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.35); /* transparent */
    backdrop-filter: blur(6px);
    font-family: "Poppins", sans-serif;
}

/* Container */
.header-container {
    max-width: 1200px;
    margin: auto; 
    
    padding: 14px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Logo */
.logo {
    font-size: 24px;
    margin-right: auto;
    margin-left: -80px;
    font-weight: bold;
    color: rgba(0, 40, 90, 0.85);
    text-decoration: none;
}

/* Navigation */
.link {
    display: flex;
    gap: 25px;
    
}

.link a {
    color: #2528c2;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;

}

.link a:hover {
    color: #5248e9;
}

.right-nav{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: -90px;
}

/* Logout Button */

.logout-btn{
    display: block;
    text-align: center;
    background: #e74c3c;
    color: #fff !important;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
}



.logout-btn:hover {
    background: #ff5252;
    color: #ffffff !important;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-menu {
        gap: 15px;
        font-size: 14px;
    }
}



.header-profile{
    position: relative;
}

/*.profile-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    
    
   
}*/

.profile-btn{
    cursor: pointer;
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(255,255,255,0.4);

    color: #1f3bd1;
    font-size: 16px;

    transition: 0.3s;
}

.profile-btn:hover{
    background: rgba(255, 255, 255, 0.726);
}


.profile-dropdown{
    position: absolute;
    right: 0;
    margin-right: -60px;
    top: 45px;
    width: 260px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn 0.3s ease;
    z-index: 999;
}

.profile-top{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.profile-top img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-top h4{
    margin: 8px 0 3px;
}

.profile-top p{
    font-size: 13px;
    color: #666;
}

.profile-info{
    padding: 10px 15px;
    font-size: 14px;
}

.logout-btn{
    display: block;
    text-align: center;
    background: #e74c3c;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


